{{#each this}}
<li class="film-gallery-item">
    <img class="film-img" src="{{imgPath}}" alt="" />
    <h3 class="film-name">{{filmTitle}}</h3>
    <div class="film-stat">
        <p class="film-description">{{description}}</p>
    </div>
</li>
{{/each}}