<img src="{{ПУТЬ}}" alt="{{НАЗВАНИЕ}}" class="movie__cover">
<div class="movie__containerInfo">
  <h1 class="movie__title">{{TITLE}}</h1>
  <ul class="movie__characteristics">
    <li>
      <span>Vote / Votes</span>
      <span class="movie__characteristics--orange">{{РЕЙТИНГ}}</span>
      /
      <span class="movie__characteristics--grey">{{ГОЛОСОВ}}</span>
    </li>
    <li>
      <span>Popularity</span>
      <span class="movie__characteristics--black">{{ПОПУЛЯРНОСТЬ}}</span>
    </li>
    <li>
      <span>Original Title</span>
      <span class="movie__characteristics--black">{{TITLE or ORIGINAL TITLE}}</span>
    </li>
    <li>
      <span>Genre</span>
      <span class="movie__characteristics--black">{{ЖАНР}}</span>
    </li>
  </ul>
  <h2 class="movie__title movie__title--h2">About</h2>
  <p class="movie__description">{{DESCRIPTION}}</p>
  <div class="button-container">
    <button class="button button--solid">ADD TO WATCHED</button>
    <button class="button button--hollow">ADD TO QUEUE</button>
  </div>
</div>