.movie {
  display: block;
  width: 280px;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 40px 20px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &__cover {
    width: 280px;
    height: 416px;
    border-radius: 5px;
  }

  &__title {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    color: #000;
    text-transform: uppercase;

    &--h2 {
      font-size: 12px;
      line-height: 16px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__characteristics {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;

    & li:not(:last-child) {
      padding-bottom: 10px;
    }

    & li :first-child {
      display: inline-block;
      width: 108px;
    }

    &--black {
      color: #000;
    }

    &--orange {
      display: inline-block;
      text-align: center;
      color: #fff;
      border: 0px solid #ff6b01;
      border-radius: 5px;
      background-color: #ff6b01;
      width: 36px;
      height: 16px;
    }

    &--grey {
      display: inline-block;
      text-align: center;
      color: #000;
      border: 0px solid #f7f7f7;
      border-radius: 5px;
      background-color: #f7f7f7;
      width: 36px;
      height: 16px;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.button-container {
  display: flex;

  :first-child {
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie {
    width: 618px;
    display: flex;
    margin-top: 230px;
    margin-bottom: 60px;

    &__cover {
      width: 294px;
      height: 416px;
      margin-right: 30px;
    }

    &__containerInfo {
      width: 294px;
    }

    &__title {
      margin-top: 0px;
      font-size: 30px;
      line-height: 35.16px;

      &--h2 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &__description {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .movie {
    width: 882px;
    display: flex;
    margin-top: 230px;
    margin-bottom: 60px;

    &__cover {
      width: 426px;
      height: 514px;
      margin-right: 30px;
    }

    &__containerInfo {
      width: 426px;
    }
    &__title {
      margin-top: 0px;
      font-size: 30px;
      line-height: 35.16px;

      &--h2 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &__description {
      margin-bottom: 20px;
    }
  }
}
