.movie {
  position: relative;
  display: block;
  width: 280px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 12px;

  filter: drop-shadow(0px 8px 38px #361700);

  &__cover {
    width: 280px;
    height: 100%;
    border-radius: 5px;
  }

  &__title {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    color: #000;
    text-transform: uppercase;

    &--h2 {
      font-size: 12px;
      line-height: 16px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__characteristics {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;

    & li:not(:last-child) {
      padding-bottom: 10px;
    }

    & li :first-child {
      display: inline-block;
      width: 108px;
    }

    &--black {
      color: #000;
    }

    &--orange {
      display: inline-block;
      text-align: center;
      color: #fff;
      border: 0px solid #ff6b01;
      border-radius: 5px;
      background-color: #ff6b01;
      width: 36px;
      height: 16px;
    }

    &--grey {
      display: inline-block;
      text-align: center;
      color: #000;
      border: 0px solid #f7f7f7;
      border-radius: 5px;
      background-color: #f7f7f7;
      width: 36px;
      height: 16px;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.button-container {
  display: flex;

  :first-child {
    margin-right: 8px;
  }
}

.btn-close {
  position: absolute;
  fill: #ff6b01;
  width: 36px;
  background-color: transparent;
  border: none;
  padding: 0px;
  right: 0px;
  top: -8px;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    filter: drop-shadow(-20px 20px 30px #ff6b01);
    transition: 0.4s;
  }

  &:active {
    fill: #cf5804;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie {
    display: flex;
    width: 618px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-top-right-radius: 0px;

    &__cover {
      width: 294px;
      height: 100%;
      margin-right: 30px;
    }

    &__containerInfo {
      width: 294px;
    }

    &__title {
      margin-top: 0px;
      font-size: 30px;
      line-height: 35.16px;

      &--h2 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &__description {
      margin-bottom: 20px;
    }
  }

  .button-container :first-child {
    margin-right: 15px;
  }

  .btn-close {
    width: 40px;
    right: -8px;
  }
}

@media screen and (min-width: 1024px) {
  .movie {
    display: flex;
    width: 882px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-top-right-radius: 0px;

    &__cover {
      width: 426px;
      height: 100%;
      margin-right: 30px;
    }

    &__containerInfo {
      width: 426px;
    }
    &__title {
      margin-top: 0px;
      font-size: 30px;
      line-height: 35.16px;

      &--h2 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &__description {
      margin-bottom: 20px;
    }
  }

  .template-container {
    display: flex;
  }

  .button-container :first-child {
    margin-right: 15px;
  }

  .btn-close {
    width: 42px;
    right: -10px;
    top: -10px;
  }
}
