main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

.hideBtns {
  display: none;
  pointer-events: none;
}

.film-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 0;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 618px;
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1024px) {
    width: 884px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
.film-gallery-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 280px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 293px;
  }

  &:nth-child(2n) {
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
    @media screen and (min-width: 1024px) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
  }
  &:nth-child(3n) {
    @media screen and (min-width: 1024px) {
      margin-right: 0;
    }
  }
}

.film-img {
  width: 280px;
  height: 402px;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 293px;
    height: 398px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
    height: 398px;
  }
}

.film-name {
  margin: 0;
  margin-top: 10px;
  text-transform: uppercase;
}

.film-stat {
  display: flex;
  flex-direction: row;
}
.film-description {
  margin: 0;
  margin-right: 10px;
  color: #ff6b01;
}
