.button {
  min-width: 136px;
  min-height: 46px;
  border-radius: 5px;
  border-width: 0px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  outline: 0px;
  cursor: pointer;

  &--solid {
    background-color: #ff6b01;
    color: #fff;
  }

  &--hollow {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
  }
}
