.button {
  width: 136px;
  min-height: 46px;
  border-radius: 5px;
  border-width: 0px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 8px 38px #ff6b01);
    transition: 0.4s;
  }

  &--solid {
    background-color: #ff6b01;
    color: #fff;
  }

  &--hollow {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
  }

  &--hollow:hover,
  &--hollow:focus {
    background-color: #ff6b01;
    border: #ff6b01;
    color: #fff;
  }

  &:active {
    background-color: #cf5804;
  }
}

.paginationSection {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

.pgn {
  padding: 13px 16px 13px 16px;
  border: none;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

.pgn:hover,
.pgn:focus {
  background-color: #ff6b01;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 5px;
  outline: none;
}

.myLibraryBtn {
  display: block;
  width: 130px;
  height: 44px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  color: #fafafa;
  background-color: initial;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  outline: none;

  &:hover,
  &:focus {
    background-color: #ff6b01;
    filter: drop-shadow(0px 8px 38px #ff6b01);
    transition: 0.4s;
    cursor: pointer;
    border: none;
  }

  &:active {
    background-color: #cf5804;
  }
}

.orangeBtn {
  background-color: #ff6b01;
  border: none;
}

@media screen and (min-width: 1024px) {
  .button {
    width: 150px;
  }
}
